{% extends 'blog/base.html' %}

{% block title %}About - {% endblock title%}

{% block content %}
    <div class="about">
        {% include 'blog/header.html' %}
    
        <div class="container content">
            <h1 class="content-heading">Hello there!</h1>
            <p>
                I am Avinash, a passionate Web Developer but still a student. I have developed both front-end and back-end for this blog my-self to help you better understand or get started with font-end development.
            </p>
            <p>
                In future there are plans to include tutorials on full stack development and data science as well. Check out my blog regularly for some bytes of information, which you will find useful. I post articles once in 5 days or once in a week. BE UPDATED!!
            </p>
            <h3 class="content-ack">Thank you for your time..</h3>
        </div>
    </div>
{% endblock content %}